<h1>My restaurants</h1>
<ul>
  <% @restaurants.each do |restaurant|%>
    <li>
      <%= link_to restaurant.name, restaurant_path(restaurant) %> <%= link_to("delete", restaurant_path(restaurant), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}) %>
    </li>
  <% end %>
</ul>
<hr>
<p><%= link_to("+ Create new task", new_restaurant_path) %></p>
